<div class="box">
<h1>Hello</h1>
<h1>Bye</h1>
<div class="rating">
<span>☆</span>
<span>☆</span>
<span>☆</span>
<span>☆</span>
<span>☆</span>
<input class="radio" type="radio" id="male" name="gender" value="male">
</div>
</div>
<div class="box">
<h1>Hello</h1>
<h1>Bye</h1>
</div>
